@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: url('img/red.jpg'); */
    background-size: cover;
    background-position: center;
}

header{
    position: fixed;
    top: 0;
    /* left: 0; */
    width: 100%;
    padding: 10px 100px;
    background-color: #FFB000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    border-radius: 6px;
}
.logo{
    font-size: 2em;
    color: #17594A;
    user-select: none;
    margin-left: 40px;

}
.navigation a{
    position: relative;
    font-size: 1.1em;
    color: #17594A;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
   
}

.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #17594A;
    border-radius: 5px;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .5s;
}
.navigation a:hover::after{
    transform: scaleX(1);
}

.btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: solid #17594A 2px;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #17594A;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}
.btnLogin-popup:hover{
    background-color: #17594A;
    color: #FFB000;
}

.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: solid 2px rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease ,height .2s ease;
}

.wrapper.active-popup{
    transform: scale(1);
}
.wrapper.active{
    height: 520px;
   
}
.wrapper .form-box{

    width: 100%;
    padding: 40px;
}
.wrapper .form-box.login{
    transition: transform .18s ease;
    transform: translateX(0);
}
.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
}
.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #FFB000;
    font-size: 2em;
    color: #17594A;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
    transition: .5s;
}
.icon-close:hover{
    background: #17594A;
    color: #FFB000;
}
.form-box h2{
    font-size: 2em;
    color: #FFB000;
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: solid #FFB000 2px;
    margin: 30px 0;
}
.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #FFB000;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
    
}
.input-box select {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #FFB000;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
/* Style the dropdown arrow */
.input-box select::-ms-expand,
.input-box select::-webkit-select-arrow {
    color: #FFB000; /* Change this color to the desired color for the arrow */
}

/* Style for Firefox */
.input-box select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #FFB000; /* Change this color to the desired color for the arrow */
}
.input-box select:focus ~ label,
.input-box select:valid ~ label {
    top: -5px;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #FFB000;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #FFB000;
    line-height: 57px;
}

.input-box-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -40px; /* Add margin to control spacing between input boxes vertically */
}

.input-box-container .input-box {
    flex: 1;
    margin-right: 10px; /* Adjust margin-right for horizontal spacing */
}

.input-box-container .input-box:last-child {
    margin-right: 0; /* Remove margin-right for the last input box to prevent extra spacing */
}
.remember-forgot{
    font-size: .9em;
    color: #FFB000;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input{
    accent-color: #FFB000;
    margin-right: 3px;
}
.remember-forgot a {
    color: #FFB000;
    text-decoration: none;
    transition: .5s;
    font-weight: 600;
}
.remember-forgot a:hover:last-child{
    text-decoration: underline;
    color: #17594A;
}
.remember-forgot a:hover:first-child{
    text-decoration: underline;
    color: crimson;
}
.btn {
    width: 100%;
    height: 45px;
    background: #FFB000;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #17594A;
    font-weight: 500;
    transition: .5s;
}
.btn:hover{
    background-color: #17594A;
    color: #FFB000;
}
.login-register{
    font-size: .9em;
    color: #FFB000;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p a{
    color: #FFB000;
    text-decoration: none;
    font-weight: 600;
    transition: .5s;
}
.login-register p a:hover{
    text-decoration: underline;
    color: #17594A;
}

.showcase {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #fff;
	padding: 0 20px;
}

.video-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: var(--primary-color) url('./https://traversymedia.com/downloads/cover.jpg') no-repeat center
		center/cover;
}

.video-container video {
	min-width: 100%;
	min-height: 100%;
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}

.video-container:after {
	content: '';
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
}
.popup{
    z-index: 98;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #FFB000;
    text-align: center;
    padding: 10px 0;
    font-family: 'Poppins', sans-serif;
    color: #17594A;
    z-index: 99;
}

.footer-content {
    font-size: 14px;
    padding: 10px;
}
.social-media {
    font-size: 24px;
    color: #17594A;  
}
.social-media a {
    color: #17594A;
    text-decoration: none;
    margin: 0 10px;
}